#game-over-container, #question-container, #results-container, #restart-btn, #game-container {
    display: none;
}

#results-img {
    max-width: 80%;
}

html, body {
    min-height: 100vh;
}

.container {
    min-height: 80vh;
    /* background: green; */
}