html, body {
    min-height: 100vh;
}

body {
    background: url("../images/paper_2.png");
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

#results-img {
    max-width: 80%;
    max-height: 40%;
}

#game-over-container, #question-container, #results-container, #restart-btn, #game-container {
    display: none;
}

#title-container div {
    font-weight: 600;
}

#question, #results-container, #game-over-container, #timer-div {
    font-size: 1.25em;
    font-weight: 600;
}

/**************************************************** 
    Buttons
****************************************************/
.game-btn {
    background: #1f3a86;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.game-btn:hover {
    background: #122250;
}

button {
    margin: auto;
}

/**************************************************** 
    Option class
****************************************************/
.option {
    background: #1f3a86;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    margin: 1em auto;
    max-width: 20em;
    padding: 5px;
}

.option:hover {
    color: #1f3a86;
    background: white;
    cursor: pointer;
}

/**************************************************** 
    Link
****************************************************/
a {
    color: #1f3a86;
    font-weight: 600;
    font-family: 'Archivo Black', sans-serif;
}

a:hover {
    color: #122250;
}

/**************************************************** 
    Media queries
****************************************************/
@media only screen and (max-width: 425px) {
    h1 {
        font-size: 1.25em;
    }
}